@charset "UTF-8";
@keyframes keyframes--scale {
  from {
    transform: scale(0);
  }
  99% {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes keyframes--rotate {
  0% {
    transform: scale(2.4) rotate(0deg);
  }
  16.6% {
    transform: scale(2.2) rotate(60deg);
  }
  33.2% {
    transform: scale(2) rotate(120deg);
  }
  49.8% {
    transform: scale(1.8) rotate(180deg);
  }
  66.4% {
    transform: scale(1.6) rotate(240deg);
  }
  83.0% {
    transform: scale(1.4) rotate(300deg);
  }
  100% {
    transform: scale(1.2) rotate(360deg) translateX(-50%);
  }
}
.menu-epd .animation--delay01 {
  animation-delay: 0.1s;
}
.menu-epd .animation--delay02 {
  animation-delay: 0.2s;
}
.menu-epd .animation--delay03 {
  animation-delay: 0.3s;
}
.menu-epd .animation--delay04 {
  animation-delay: 0.4s;
}
.menu-epd .animation--delay05 {
  animation-delay: 0.5s;
}
.menu-epd .animation--delay06 {
  animation-delay: 0.6s;
}
.menu-epd .animation--delay07 {
  animation-delay: 0.7s;
}
.menu-epd .animation--delay08 {
  animation-delay: 0.8s;
}
.menu-epd .animation--delay09 {
  animation-delay: 0.9s;
}
.menu-epd .animation--delay10 {
  animation-delay: 1s;
}
.menu-epd .animation--delay11 {
  animation-delay: 1.1s;
}
.menu-epd .animation--delay12 {
  animation-delay: 1.2s;
}
.menu-epd .animation--delay13 {
  animation-delay: 1.3s;
}
.menu-epd .animation--delay14 {
  animation-delay: 1.4s;
}
.menu-epd .animation--delay15 {
  animation-delay: 1.5s;
}
.menu-epd--animation {
  animation: 1s linear keyframes01;
}
@keyframes keyframes01 {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  20% {
    transform: translateY(40px);
    opacity: 0.2;
  }
  40% {
    transform: translateY(25px);
    opacity: 0.4;
  }
  60% {
    transform: translateY(15px);
    opacity: 0.6;
  }
  80% {
    transform: translateY(5px);
    opacity: 0.8;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu-epd__title--animation {
  transform-origin: 0%;
  animation: 1000ms cubic-bezier(0.32, 0, 0.07, 1) 0s keyframes02;
}
@keyframes keyframes02 {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

/*******************************************************/
/*******************************************************/
/* Charte graphique Couleurs : Primaire #9356DC Secondaire #FF79DA Tertiaire #99E2D0*/
/* Color darkpurple */
/* Color purple */
/* Color lightgreen */
/* Utilisation de parametre d'agrandissement dans les mixins d'animations */
.txt--separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 30px;
  font-size: 40px;
  font-weight: 700;
  color: #9356DC;
}
.txt--separator::before, .txt--separator::after {
  content: "";
  height: 5px;
  border-radius: 5px;
  width: 20%;
}
.txt--separator::before {
  margin-right: 5px;
  margin-left: 3%;
  background: linear-gradient(to right, transparent, #9356DC);
}
.txt--separator::after {
  margin-left: 5px;
  margin-right: 3%;
  background: linear-gradient(to left, transparent, #9356DC);
}

/* -------------------------------------------------- */
/* Version mobile first */
/* Reset */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: black;
}

/* Page index.html */
body {
  max-width: 1400px;
  margin: auto;
  background: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1;
}

/* Page title */
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin: 0 50px;
  color: black;
}

/* Section title */
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.9rem;
  font-weight: 700;
  color: black;
}

/* restaurant title */
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: black;
  margin-top: 20px;
}

/* cards title */
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: black;
}

/* Footer title */
h5 {
  /* CSS rules to specify families (https://fonts.google.com/specimen/Shrikhand) */
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  color: white;
  margin-top: 20px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: black;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
}
.fonctionnement__title {
  display: flex;
  width: 339px;
}
.fonctionnement__choice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 350px;
  padding: 25px;
}

.choice {
  background: rgb(247, 247, 247);
  position: relative;
  width: 100%;
  height: 75px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 10px 10px rgb(190, 190, 190);
  transition-duration: 0.3s;
}
.choice:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: rgb(245, 237, 255);
}
.choice:hover i {
  color: #9356DC;
}
.choice:hover .choice__number {
  transform: scale(2);
}
.choice__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: -3%;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  color: white;
  background-color: #9356DC;
  font-size: 1rem;
  font-weight: 700;
  transform: scale(1);
  transition: transform 400ms;
}
.choice i {
  display: inline;
  position: absolute;
  top: 40%;
  left: 12%;
  width: 80px;
}
.choice__text {
  position: absolute;
  top: 40%;
  left: 30%;
  width: auto;
  font-weight: 700;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(247, 247, 247);
  padding: 20px;
}
.restaurants__title {
  display: flex;
  width: 100%;
}

.button {
  width: auto;
  height: 60px;
  border: none;
  border-radius: 100px;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  padding: 10px 20px;
  box-shadow: 0px 10px 10px rgb(190, 190, 190);
  transition-duration: 0.3s;
  transform: scale(1);
  transition: transform 400ms;
}
.button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  transform: scale(1.1);
}
.button--font01 {
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  font-size: 1.7rem;
  color: white;
}
.button--large {
  padding: 10px 75px;
}

.cards {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  margin: 10px 0;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgb(190, 190, 190);
  transition-duration: 0.3s;
}
.cards:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.cards__box {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
}
.cards__box p {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.3;
}
.cards__image {
  position: relative;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}
.cards img {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  object-fit: cover;
}
.cards i {
  font-size: 2.5rem;
}
.cards a {
  text-decoration: none;
  color: black;
}
.cards__new {
  position: absolute;
  width: 150px;
  height: 50px;
  z-index: 1;
  top: 15px;
  right: 15px;
  border-radius: 5px;
  background-color: #99E2D0;
}
.cards__new--none {
  width: 0px;
  height: 0px;
  opacity: 0%;
}
.cards__new p {
  position: relative;
  top: 10px;
  left: 20px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3;
  color: green;
}

.icon__favoris {
  position: absolute;
  right: 30px;
  overflow: hidden;
  opacity: 100%;
}
.icon__favoris:active {
  opacity: 0%;
}
.icon__favoris--selected {
  position: absolute;
  right: 30px;
  overflow: hidden;
  opacity: 0%;
}
.icon__favoris--selected:active {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 1s;
  opacity: 100%;
}
.icon__favoris--selected:active .icon__favoris {
  opacity: 0%;
}
.icon__color--primary {
  color: #9356DC;
}
.icon__color--secondary {
  color: #FF79DA;
}
.icon__color--tertiary {
  color: #99E2D0;
}
.icon__color--black {
  color: black;
}
.icon__color--white {
  color: white;
}

footer {
  padding: 25px;
  background-color: rgb(53, 53, 53);
}
footer__nav {
  margin-top: 20px;
}
footer a {
  font-weight: 700;
  color: white;
  text-decoration: none;
}
footer i {
  width: 24px;
  margin-right: 25px;
}
footer ul {
  list-style: none;
}
footer li {
  padding-bottom: 10px;
}

.footer__nav {
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  background: white;
}
.header__loader {
  display: flex;
  width: 175px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: scale(0);
  animation: keyframes--rotate 3s linear 0s;
}
.header__logo {
  display: flex;
  justify-content: center;
  width: 175px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header__logo--animation {
  animation: keyframes--scale 3s linear 0s;
}
.header__localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: rgb(234, 234, 234);
  box-shadow: 5px 0px 0px rgb(190, 190, 190);
}
.header__localisation .localisation__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14%;
}
.header__localisation .localisation__text {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  margin: 20px 10px;
  background-color: inherit;
}
.header__localisation .localisation__text:focus {
  background-color: white;
}
.header__box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 300px;
  padding: 30px 0;
  background-color: rgb(247, 247, 247);
}
.header__box p {
  margin: 0 50px;
}
.header__button a {
  text-decoration: none;
}

.header__arrow_for_return {
  position: absolute;
  font-size: 2.3rem;
  left: 5%;
  color: black;
}

.restaurant__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  /* Debordement sur image */
  top: -50px;
  margin-bottom: -65px;
  border-radius: 45px 45px 0px 0px;
  padding-top: 20px;
  background-color: rgb(247, 247, 247);
}
.restaurant__photo {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.restaurant__photo img {
  object-fit: cover;
  width: 100%;
}

.menu__box {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px;
}
.menu__title {
  padding-left: 7px;
}
.menu__title h2 {
  font-family: "Shrikhand", cursive;
  color: black;
}
.menu__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 15px;
}
.menu__button a {
  text-decoration: none;
}

/* EPD : Entrée Plats Dessert */
.menu-epd {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu-epd__title {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.menu-epd__title h3 {
  width: 90%;
  margin-bottom: 10px;
}
.menu-epd__title--underline {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 80px;
  height: 6px;
  margin-bottom: 10px;
  background-color: #99E2D0;
}
.menu-epd__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 10px 10px rgb(190, 190, 190);
  transition-duration: 0.3s;
}
.menu-epd__box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.menu-epd__box:hover .menu-epd__txt {
  width: 60%;
  transition: 1s;
}
.menu-epd__box:hover .menu-epd__prix {
  width: 20%;
  transition: 1s;
}
.menu-epd__box:hover .menu-epd__selection {
  width: 20%;
  height: auto;
  opacity: 100%;
  transition: ease-in 1s;
}
.menu-epd__box:hover .menu-epd__selection i {
  transform: translateX(-10px) scale(1.2) rotate(360deg);
  transition: transform ease-in 1.5s;
}
.menu-epd__txt {
  width: 80%;
  margin-bottom: 10px;
  transition-duration: 1s;
}
.menu-epd__txt h4 {
  margin: 6px 20px;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-epd__txt p {
  margin: 6px 20px;
  font-weight: 400;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-epd__price {
  width: 20%;
  padding-top: 40px;
  font-size: 1.3rem;
  font-weight: 700;
  color: black;
  transition-duration: 1s;
}
.menu-epd__selection {
  display: flex;
  width: 0%;
  height: auto;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  opacity: 0%;
  transition-duration: 1s;
  position: relative;
}
.menu-epd__selection i {
  position: absolute;
  top: 40%;
  left: 40%;
}

/* -------------------------------------------------- */
/* Media Queries */
/* Spécifications techniques, Breakpoints : Nous avons convenu avec le designer UI d’utiliser 992 px et 768 px :
● >=992 px pour les écrans d’ordinateurs ;
● >=768 px pour les tablettes ;
● et tout ce qui est en dessous de 768 pour les téléphones portables. */
/* Media queries tablette */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__localisation .localisation__icon {
    margin-left: 10%;
  }
  .fonctionnement__choice {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 15px;
    flex-wrap: wrap;
    height: 250px;
  }
  .choice {
    width: 45%;
  }
  .restaurants {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    flex-wrap: wrap;
  }
  .cards {
    width: 48%;
  }
  .menu-epd {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 10px;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  .menu-epd__box {
    width: 32%;
  }
  .menu-epd__txt h4 {
    margin: 6px 20px;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu-epd__txt p {
    margin: 6px 20px;
    font-size: 0.9rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu-epd__price {
    padding-top: 40px;
    font-size: 1rem;
    font-weight: 700;
  }
  footer {
    margin: 30px 30px 0 30px;
  }
}
/* -------------------------------------------------- */
/* Media queries desktop */
@media screen and (min-width: 992px) {
  .header__localisation .localisation__icon {
    margin-left: 10%;
  }
  .fonctionnement__choice {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    flex-wrap: wrap;
    height: 150px;
  }
  .choice {
    width: 32%;
  }
  .restaurants {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    flex-wrap: wrap;
  }
  .cards {
    width: 23%;
  }
  .icon__favoris {
    position: absolute;
    right: 10px;
    overflow: hidden;
    opacity: 100%;
  }
  .icon__favoris:hover {
    opacity: 0%;
  }
  .icon__favoris--selected {
    position: absolute;
    right: 10px;
    overflow: hidden;
    opacity: 0%;
  }
  .icon__favoris--selected:hover {
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: 1s;
    opacity: 100%;
  }
  .menu-epd {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 10px;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  .menu-epd__box {
    width: 32%;
  }
  footer {
    margin: 30px 30px 0 30px;
  }
}

/*# sourceMappingURL=style.css.map */
